@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Teko&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-container{
    border: 3px solid rgb(64, 10, 75);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 30px 13px;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(246, 220, 252);
}

.logo-container{
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 10px;
    user-select: none;
    color: rgb(64, 10, 75);
    font-family: teko;
}

.logo:hover{
    cursor: pointer;
}

.form-container{
    text-align: center;
    margin: 25px 10px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.form-container form input{
    margin: 20px 10px;
    padding: 8px 10px;
    border-radius: 4px;
}

.register-btn{
    margin: 10px 12px;
    padding: 8px 50px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(64, 10, 75);
    color: rgb(235, 233, 233);
    border: none;
    font-size: 0.9rem;
}

.sign-up-page-shift-contain{
    margin: 10px 15px;
}

.sign-up-page-shift-contain button{
    border: none;
    background: none;
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.9rem;
    color: rgb(64, 10, 75);
}

.register-btn:hover{
    text-decoration: underline;
    background-color: rgb(105, 19, 122);
    cursor: pointer;
    user-select: none;
    color: rgb(255, 255, 255);
}

.sign-up-page-shift-contain button:hover{
    color: rgb(105, 19, 122);
    cursor: pointer;
    font-size: 0.94rem;
    user-select: none;
}



